.contactPictureText {
	background-image: url("https://images.unsplash.com/photo-1481286810468-bd491e70a15e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
	height: 50vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contactPictureText h1{
	font-size: 75px;
	font-weight: bold;
	font-family: 'indie family', cursive;
	color: #ffd79a;
}

.contactPictureText h2{
	font-size: 55px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
	color: rebeccapurple;
}

