
.homePageImageText {
	height: 800px;
	width: 100vw;
	background-image: url("https://images.unsplash.com/photo-1574085733277-851d9d856a3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3155&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.homePageImageText h1{
	font-family: 'Lobster Two', cursive;

	font-weight: 400;
	font-size: 100px;
	color: #f4e000;
}

.homePageImageText h2{
	color: white;
}

.homePageImageText {
	color: white;
}
