.homePageAboutUsImageContainer {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.top2AboutUsImages {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.bottom2AboutUsImages {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.aboutUsImage1 {
	height: 80%;
	width: 40%;
background-image: url("https://images.unsplash.com/photo-1458253756247-1e4ed949191b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
}

.aboutUsImage2 {
	height: 80%;
	width: 40%;
background-image: url("https://images.unsplash.com/photo-1562158078-8704aa09f5d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
}

.aboutUsImage3 {
	height: 80%;
	width: 40%;
	background-image: url("https://images.unsplash.com/photo-1560172797-c656dbab1a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
}

.aboutUsImage4 {
	height: 80%;
	width: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;
	background-image: url("https://images.unsplash.com/photo-1560008467-fc0f577023ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
